@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "Satoshi";
  src: url("Satoshi-Variable.ttf");
}
* {
  /* color: #333; */
  font-family: "Satoshi", sans-serif;
  background: rgb(244 63 94);
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  /* text-wrap: balance; */
  -webkit-overflow-scrolling: none;
  @apply text-gray-700 antialiased;
}
/* @media only screen and (max-width: 988px) {
	section {
		scroll-snap-align: start;
		scroll-snap-stop: always;
	}
} */

.bodytag {
  @apply max-sm:border-t-4 max-sm:border-b-rose-500 sm:border-t-rose-500  sm:px-2 sm:py-2.5;
}
.bodytag2 {
  @apply max-sm:border-t-4 max-sm:border-b-rose-500 md:m-4  md:rounded-[4rem] md:border-t-rose-500 md:px-2 md:py-2.5;
  text-wrap: balance;
}
.bginherit * {
  @apply bg-inherit;
}
.wavybg {
  background-image: url("waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  @apply bg-inherit pb-10 text-7xl tracking-wider xl:text-9xl;
}
.para1 {
  @apply max-w-[50ch] bg-inherit text-xl font-light leading-10 tracking-wide lg:tracking-wider xl:text-4xl;
}
.para2 {
  @apply max-w-[50ch] bg-inherit text-2xl font-light leading-10 tracking-wide lg:tracking-wider xl:text-4xl;
}
.blueunderline {
  @apply underline decoration-cyan-900 underline-offset-[10px];
}

.cards {
  @apply wavybg flex h-52 w-[80vw] flex-col items-center justify-center rounded-3xl bg-inherit bg-pink-900 pl-4 md:w-[35rem] lg:pl-0 xl:h-60;
}

.insds {
  margin-inline: auto;
}
.main-article {
  @apply prose prose-slate mx-auto mt-8 lg:prose-2xl selection:bg-[#AEC6CF] selection:text-cyan-900 prose-headings:py-3 prose-headings:font-robotomono prose-headings:font-bold prose-headings:leading-9 prose-h1:text-4xl prose-h3:underline prose-blockquote:border-slate-300 lg:prose-h1:text-7xl;
}
.pre-article {
  @apply relative flex min-h-screen flex-col justify-center overflow-hidden px-5 py-8 lg:px-8 lg:py-12;
}
